#intro {
    display: flex;
    gap: 30px;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f8f8f8;
    font-family: "Roboto", sans-serif;
    max-width: 1024px;
    margin: 0 auto;
}
#img-container {
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
#img-container img {
    display: block;
    max-width: 330px;
    height: auto;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}
p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 5px 0;
}
#flavor-text {
    font-style: italic;
    margin: 15px 0;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 20px;
    margin: 5px 0;
}
section {
    margin: 20px 0;
}
section:last-of-type {
    margin-bottom: 3.5rem;
}

/* Table */
.table-container{
    width: 60%;
    margin: 20px 0 30px 0;
}
.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 15px;
    border: 1px solid #ccc;

}
.header .cell {
    background-color: #7f67b9;
    color: white;
    font-weight: bold;
}
.spell-link {
    color: #6a4c9c;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-style: italic
}
.spell-link:hover, .rule-link:hover, #table-link:hover {
    text-decoration: underline;
}

/* Rules */
.rule-link {
    color: #47a578;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
#table-link {
    color: #7f67b9;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

/* Tooltip and overlay */
.tooltip {
    position: fixed;
    background: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    width: 450px;
    display: none;
    z-index: 100;
}
.tooltip #spell-name {
    margin: 0;
    color: #6a4c9c;
}
.tooltip #rule-name {
    margin: 0;
    color: #47a578;
}
.hidden {
    display: none;
    visibility: hidden;
}

.ability-title {
    font-style: italic;
    font-weight: bold;
    display: inline;
}

@media (max-width: 1050px) {
    body {
        margin: 0 20px;
    }
    .table-container {
        width: 80%;
    }
}

@media (max-width: 768px) {
    #intro {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3.5rem;
    }
    #img-container img {
        width: 100%;
        max-width: 330px;
        height: auto;
    }
    .table-container {
        width: 100%;
    }
}
