#intro {
    display: flex;
    gap: 10px;
}

#tree-img {
    width: 50%;
}

/* Table */
.table {
    display: table;
    border-collapse: collapse;
    width: 50%;
    background: white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 15px;
    border: 1px solid #ccc;

}
.header .cell {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}
